<ion-header>
  <ion-toolbar>
    <ion-title>Reserva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Aula de Karatê</ion-card-title>
      <ion-card-subtitle>20/04/2025 - 19h</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Professor(a): Maria dos Santos <br />
      Vagas disponíveis: 7
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="primary" (click)="confirmarReserva()">
    Confirmar Reserva
  </ion-button>
</ion-content>
